<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>QuestiononeFrontend</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12">
          <%= render 'layouts/navigation' %>
          <%= yield %>
        </div>

        <div class="col-xs-6 sidebar-offcanvas hidden-sm-up">
          <!-- Rui puts mobile menu here -->
          <ul class=" small text-uppercase letter-spaced">
            <li class="mobile-q1 m-b-0">
              <h1><%= image_tag 'q1-logo.png', class: 'img-fluid' %></h1>
            </li>
          
            <li class=" ">
              <a class="nav-mobile" href="#">Quiz Finder</a>
            </li>

            <li class=" ">
              <a class="nav-mobile dropdown-toggle" data-toggle="dropdown" href="#" role="button">Our Services</a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a class="dropdown-item" href="#">Our Services</a>
                    </li>
                    <li class="">
                      <a class="dropdown-item" href="#">Our Quizzes</a>
                    </li> 
                    <li class="">
                      <a class="dropdown-item" href="#">Corporate Events</a>
                    </li>            
                  </ul>       
            </li>

            <li class=" ">
              <a class="nav-mobile" href="#">About</a>
            </li>

            <li class=" ">
              <a class="nav-mobile" href="#">News</a>
            </li>

            <li class=" ">
              <a class="nav-mobile" href="#">Contact</a>
            </li>
            <li class="nav-item ">
              <span>—</span>
            </li>
          
            <li class="nav-item ">
              <a class="nav-mobile dropdown-toggle" data-toggle="dropdown" href="#" role="button">London</a>
              <ul class="dropdown-menu">
                  <li class="country">UK</li>
                  <li>
                  <a class="dropdown-item" href="/birmingham">Birmingham</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/glasgow">Glasgow</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/edinburgh">Edinburgh</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/leeds">Leeds</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/sheffield">Sheffield</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/bristol">Bristol</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/swansea">Swansea</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/norwich">Norwich</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/london">London</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/liverpool">Liverpool</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/manchester">Manchester</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/newcastle">Newcastle</a>
                   
                  </li>
                  <li>
                  <a class="dropdown-item" href="/brighton">Brighton</a>
                   
                  </li>
                  </ul>
            </li>
            <li class="nav-item ">
              <span>—</span>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Twitter</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Search</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
